@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BankEase.ViewModel.AccountViewModel


<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md mx-auto">

    @if(Model.ErrorMessage != null)
    {
        <div class="text-sm p-2 rounded-lg mb-4 h-10 flex items-center justify-center">
            <p class="text-red-600 bg-red-100 w-full text-center p-2 rounded-lg">@Model.ErrorMessage</p>
        </div>
    }
    else if(Model.SuccessMessage != null)
    {
        <div class="text-sm p-2 rounded-lg mb-4 h-10 flex items-center justify-center">
            <p class="text-green-600 bg-green-100 w-full text-center p-2 rounded-lg">@Model.SuccessMessage</p>
        </div>
    }

    <h1 class="text-3xl font-bold mb-4 text-center text-indigo-600">Einzahlung</h1>
    <p class="text-gray-600 mb-6 text-center">Wählen Sie den gewünschten Betrag, welchen Sie auf das Konto einzahlen möchten.</p>
    <p class="text-gray-800 mb-6 text-left font-bold text-sm">Ihr aktueller Kontostand: @Model.CurrentSaldo CHF</p>

    <form asp-action="Deposit" method="post">
        <div class="mb-4">
            <label for="amount" class="block text-sm font-medium text-gray-700 text-left">Betrag</label>
            <input
                id="amount"
                name="mAmount"
                class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                type="number"
                step="0.05"
                placeholder="Gewünschter Betrag"
                onkeydown="return preventInvalidNumberInputs(event);"
                required/>
        </div>

        <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition duration-300 mt-4">Einzahlen</button>
    </form>
</div>

<script>
    // Verhindert das einfügen des Buchstaben 'E', sowie der -/+ Zeichen
    function preventInvalidNumberInputs(event)
    {
        if(["e", "E", "+", "-"].includes(event.key))
        {
            event.preventDefault();
        }
    }
</script>