<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BankEase</title>
    <link rel="stylesheet" href="~/css/output.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BankEase.styles.css" asp-append-version="true"/>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<header>
    <nav class="bg-white w-full shadow-md fixed top-0">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <a asp-controller="Home" asp-action="Index" class="text-xl font-bold text-indigo-600 -ml-2">BankEase</a>
                </div>
            </div>
        </div>
    </nav>

</header>

<!-- Zentrierter Container mit flex properties -->
<div class="container flex items-center justify-center min-h-screen">
    <main role="main" class="pb-3 flex items-center justify-center">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>