@using BankEase.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BankEase</title>
    <link rel="stylesheet" href="~/css/output.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BankEase.styles.css" asp-append-version="true"/>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<header>
    <nav class="bg-white w-full shadow-md fixed top-0">
        <div class="px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
            <div class="flex items-center">
                <a asp-controller="Home" asp-action="Index" class="text-xl font-bold text-indigo-600">BankEase</a>
            </div>

            <!-- Nur anzeigen, wenn Session-Variablen gesetzt sind (Eingeloggt) -->
            @if(Context.Session.GetInt32(SessionKey.USER_ID) != null && Context.Session.GetInt32(SessionKey.ACCOUNT_ID) != null)
            {
                <div class="flex items-center space-x-4">
                    <a asp-controller="Deposit" asp-action="Index" class="text-gray-700 hover:text-indigo-600 font-medium">Einzahlen</a>
                </div>
            }
        </div>
    </nav>

</header>

<!-- Zentrierter Container mit flex properties -->
<div class="container flex flex-col items-center pt-20">
    <main role="main" class="pb-3 w-full max-w-md">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>